.sidebar {
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fbfbff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 100%;
    font-weight: 600;
    border-top: 1px solid #a7a4a4; 
    border-bottom: 1px solid #a7a4a4; 
    font-size: 15px;
    color: #222;
    line-height: 20px;
    text-align: center;
 
}

.sidebarImage {
    width: 300px;
    margin-right: 15px;
    margin-top: 15px;
    box-shadow: 3px 3px 20px rgb(57, 48, 48);

}

.sidebarText {
    padding: 30px;
}

.sidebarList {
    list-style: none;
    margin-bottom: 30px;
}

.sidebarListItem {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}

.sidebarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarIcon {
    font-size: 25px;
    margin-left: 15px;
    cursor: pointer;
}