.header {
    margin-top: 60px;

}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 20px;
}

.headerTitleLg {
    position: absolute;
    top: 22%;
    font-size: 55px;
    font-weight: 200;
}

.headerImg {
    width: 100%;
    height: 450px;
    margin-top: 111px;
    box-shadow: 3px 3px 20px rgb(57, 48, 48);

}