.post {
    width: 250px;
    margin: 15px 25px 40px 25px;

}

.postImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 7px;

    
}

.postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.postCat {
    font-size: 15px;
    color: #be9656;
    line-height: 20px;
    margin: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.postTitle {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
}

.postDate{
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin-top: 15px;
}

.postDesc {
    font-size: 16px;
    color: #444;
    line-height: 20px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}